# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs and debug
*.log
*.txt
log_detectados.txt

# Local settings
.env
.env.*

# Compiled files
*.dll
*.pyd

# YOLO-specific
runs/  # Diretório padrão onde os resultados do YOLO podem ser salvos
*.pt  # Pesos do modelo pré-treinado
